<% layout('layout/boilerplate') %>
    <h1>BUILDS</h1>
    <div>
        <a href="/builds/new">Create Build</a>
    </div>

    <div class="row">
        <% let currentType='' ; %>
            <% for (let item of computerBuild) { %>
                <% if (item.type !==currentType) { %>

        <div class="row mt-5">
        </div>
        <div class="row mt-3">
            <% } %>
                <div class="col-md-3">
                    <a href="/builds/<%= item._id %>">
                        <div class="card mb-4">
                            <div class="card-image">
                                <img src="<%= item.buildImg %>" class="card-img-top img-fluid square-image"
                                    alt="<%= item._id %>">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Build <%= item._id %>
                                </h5>
                                <p class="card-text">$<%= item.price %>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <% currentType=item.type; %>
                    <% } %>
        </div>
