<% layout('layout/boilerplate') %>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>

<body>
    <h1>THANK YOU!</h1>
    <h2>ORDER NUMBER: <%= thisOrder._id %></h2>
    <h2>YOUR ITEMS:</h2>
    <% for(let item of thisOrder.order) { %>
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-image">
                    <img src="<%= item.imgURL %>"
                        class="card-img-top img-fluid square-image"
                        alt="<%= item.name %>">
                </div>
                <div class="card-header">
                    <h5 class="card-title">
                        <%= item.name %>
                    </h5>
                </div>
            </div>
    </div>
    <% } %>
    <div class="card mb-4"> 
        <div class="card-body">
            <h2> ORDER TOTAL: $<%= thisOrder.total %> </h2>
        </div>
    </div>
    <div class="card mb-4"> 
        <div class="card-body">
            <% if(thisOrder.containsBuild.length > 0) { %>
                Your order contains a computer build! Would you like to post it to the website?
                <form action="/order/buildFromOrder/<%= thisOrder._id %>" method="POST">
                    <label for="name">Build name:</label>
                    <input type="name" class="form-control" id="name" name="name" required placeholder="Build name...">
                    <div class="mb-3">
                        <label for="category">Choose recommended category:</label>
                        <select name="category" id="category" class="form-control" required>
                            <option>Category</option>
                            <option value="Budget">Budget</option>
                            <option value="High-End">Premium</option>
                            <option value="Gaming">Gaming</option>
                            <option value="Business / Education">Business / Education</option>
                        </select>
                    </div>
                    <button class="btn btn-primary">Create Build</button>
                </form>
            <% } %>
        </div>
    </div>
    <a class="nav-link" href="/">Return to Homepage</a>
</body>

</html>